:root {
    --btn-color: #151515;
    --text-color: #151515;
    --sub-text: #D8D8D8;
}

* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

body {
    max-width: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16 16 24 16;
}

.logo {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.49px;
    text-align: left;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-1 {
    width: 375px;
    height: 281px;

}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.5px;
    margin-top: 47.75;
    margin-bottom: 0;

}

p {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: var(--sub-text);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 16px 0 24px;
    padding: 0 16;

}

.btn-1 {
    width: 136px;
    height: 48px;
    background-color: var(--btn-color);
    color: white;
    border-radius: 15px;
    margin-bottom: 48px;
    border: none;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 94px;
}